package ${packageName}.mapper.${moduleName};

import cn.hutool.core.util.StrUtil;
import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
import dev.geo.admin.common.core.model.PageResult;
import dev.geo.admin.mybatis.mapper.BaseMapperX;
import ${packageName}.model.${moduleName}.entity.${ClassName};
import ${packageName}.model.${moduleName}.dto.${ClassName}PageReqDTO;
import org.apache.ibatis.annotations.Mapper;
import java.util.List;

@Mapper
public interface ${ClassName}Mapper extends BaseMapperX<${ClassName}> {
    default PageResult<${ClassName}> selectPage(${ClassName}PageReqDTO query) {
        return selectPage(query, buildQuery(query));
    }

    default List<${ClassName}> selectList(${ClassName}PageReqDTO query) {
        return selectList(buildQuery(query));
    }

    default LambdaQueryWrapper<${ClassName}> buildQuery(${ClassName}PageReqDTO query) {
        return new LambdaQueryWrapper<${ClassName}>()
#foreach($column in $table.queryColumns)
#if($column.queryType == "BETWEEN")
                .ge(query.get${column.capJavaField}Start() != null, ${ClassName}::get${column.capJavaField}, query.get${column.capJavaField}Start())
                .le(query.get${column.capJavaField}End() != null, ${ClassName}::get${column.capJavaField}, query.get${column.capJavaField}End())
#else
#if($column.javaType == "String")
                .${column.queryMethod}(StrUtil.isNotBlank(query.get${column.capJavaField}()), ${ClassName}::get${column.capJavaField}, query.get${column.capJavaField}())
#else
                .${column.queryMethod}(query.get${column.capJavaField}() != null, ${ClassName}::get${column.capJavaField}, query.get${column.capJavaField}())
#end
#end
#end
                .orderByAsc(${ClassName}::get${pkColumn.capJavaField});
    }
}
