package ${packageName}.service.${moduleName};

import dev.geo.admin.common.core.model.PageResult;
import ${packageName}.model.${moduleName}.entity.${ClassName};
import ${packageName}.model.${moduleName}.dto.${ClassName}PageReqDTO;
import ${packageName}.model.${moduleName}.dto.${ClassName}SaveDTO;
import java.util.List;

public interface I${ClassName}Service {
    PageResult<${ClassName}> selectPage(${ClassName}PageReqDTO query);
    List<${ClassName}> selectList(${ClassName}PageReqDTO query);
    ${ClassName} getById(${pkColumn.javaType} id);
    ${pkColumn.javaType} create(${ClassName}SaveDTO request);
    void update(${ClassName}SaveDTO request);
    void delete(List<${pkColumn.javaType}> ids);
}
