import type { ${ClassName}, ${ClassName}QueryParams, ${ClassName}SaveParams } from '@/types/base/api/${moduleName}/${businessName}';
#if(!$table.tree)
import type { PageResult } from '@/types/base/api/common';
#end
import { requestClient } from '@/utils/request';
export function list${BusinessName}(query: ${ClassName}QueryParams = {}) {
#if($table.tree)
  return requestClient.get<${ClassName}[]>('/${moduleName}/${businessName}/list', query);
#else
  return requestClient.get<PageResult<${ClassName}>>('/${moduleName}/${businessName}/list', query);
#end
}
export function get${BusinessName}(id: ${pkColumn.tsType}) {
  return requestClient.get<${ClassName}>('/${moduleName}/${businessName}/' + encodeURIComponent(String(id)));
}
export function add${BusinessName}(data: ${ClassName}SaveParams) {
  return requestClient.post<${pkColumn.tsType}>('/${moduleName}/${businessName}', data);
}
export function update${BusinessName}(data: ${ClassName}SaveParams) {
  return requestClient.put<void>('/${moduleName}/${businessName}', data);
}
export function del${BusinessName}(ids: ${pkColumn.tsType}[]) {
  return requestClient.delete<void>('/${moduleName}/${businessName}/' + ids.map(id => encodeURIComponent(String(id))).join(','));
}
export function export${BusinessName}(query: ${ClassName}QueryParams) {
  return requestClient.download('/${moduleName}/${businessName}/export', { method: 'POST', params: query });
}
