export interface ${ClassName}QueryParams {
  pageNum?: number;
  pageSize?: number;
#foreach($column in $table.queryColumns)
#if($column.queryType == 'BETWEEN')
  ${column.javaField}Start?: ${column.tsType} | null;
  ${column.javaField}End?: ${column.tsType} | null;
#else
  ${column.javaField}?: ${column.tsType} | null;
#end
#end
}
export interface ${ClassName} {
#foreach($column in $columns)
  /** ${column.javaComment} */
#if($column.pk)
  ${column.javaField}: ${column.tsType};
#else
  ${column.javaField}?: ${column.tsType} | null;
#end
#end
#if($table.sub)
  ${subclassName}List?: ${subClassName}[];
#end
}
export interface ${ClassName}SaveParams {
#foreach($column in $table.saveColumns)
  ${column.javaField}?: ${column.tsType} | null;
#end
#if($table.sub)
  ${subclassName}List?: ${subClassName}SaveParams[];
#end
}
#if($table.sub)
export interface ${subClassName} {
#foreach($column in $subTable.columns)
#if($column.pk)
  ${column.javaField}: ${column.tsType};
#else
  ${column.javaField}?: ${column.tsType} | null;
#end
#end
}
export interface ${subClassName}SaveParams {
#foreach($column in $subTable.saveColumns)
  ${column.javaField}?: ${column.tsType} | null;
#end
}
#end
