<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xyy.sim.mapper.UserMapper">

    <!-- 用户实体字段映射 -->
    <resultMap id="UserResultMap" type="User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <!-- 根据ID查询用户 -->
    <select id="selectUserDetailById" resultMap="UserResultMap">
        SELECT
        id,
        name,
        email,
        created_at
        FROM test_user
        WHERE id = #{id}
    </select>

</mapper>